/*prevent adjustment of font size after orientation chagen on phone or IE*/
html {-webkin-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*apply natural box layout model to all elements - margin is added to outside of the box, padding is added to inside of the box*/
*{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/*Header Section*/
.header-layout{
    border-bottom: 2px solid #cccccc; 
    background-color: #ffffff;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.header-size{
    max-width: 960px;
    margin: 0px auto;
}

.logo{
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
}

.header-right a{
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

a:not(:last-child) { 
    border-right:solid .5px #cccccc;
}

/* Boday layout*/
body{
    background-image: url("../images/dust_scratches.png");

}

.wrapper{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    max-width: 960px;
    min-height: 100%;
    margin: 0px auto;
    /*margin-top: 80px;*/
    padding: 19px;
    margin-bottom: -50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5;
    
}

.content-title{
    border-bottom: 2px solid #cccccc; 
    color:#4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.footer, 
.push{
    height: 50px;
}

/*Footer layout*/

footer{
    position: absolute;
    border-top: 8px solid #4aaaa5;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
  

}

.copyright{
    color: #b3bcbd;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
}



/*Contact form layout*/
.input-fields{
    width: -webkit-fill-available;
    height: 20px;
    color: gray;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    padding-left: 10px;
}

textarea{
    width: -webkit-fill-available;
    border: 1px solid #dddddd;
    height: 100px;
}
form {
    display: block;
    margin-top: 20px;
}

label{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: inline-block;
    padding-bottom: 5px;
}

.submit-button{
    background-color: #4aaaa5;
    color: white;
    padding: 8px 20px 8px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;

}


/*Portfolio layout*/

.project-img{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.project-image-title-container{
    position: absolute;
    top: 70%;
    width: 100%;
 
}

.project-title-background{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    line-height: 3;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 60px;
  }








@media screen and (max-width: 640px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .header-layout{
        position: absolute;
        
    }

    .logo {
        
        text-align: center;
    }
    .header-right {
        margin: 10px 0px 10px 0px;
        text-align: center;
    }

    .profile-image{
        height: auto;
        margin-top: 15px;
    }
    
    .wrapper{
        margin-top: 120px;
    }
    .container{
        position: relative;
        float: left;
        margin-top: 40px;
    }



}

@media screen and (min-width: 641px) and (max-width: 768px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .header-layout{
        position: fixed;
        padding: 0px 10px 0px 10px;
    }

    .logo{
        float: left;
    }

    .header-right{
        float: right;
        margin-top: 20px;
    }
    .profile-image{
        width: 50%;
        height: auto;
        float: left;
        margin-top: 15px;
        margin-right: 15px;
    }

    .wrapper{
        margin-top: 80px;
    }

    .container{
        position: relative;
        float: left;
        margin-top: 40px;
        padding-right: 20px;
    }

    .project-title-background{
        margin-right: 20px;
    }


    
        
    
}

@media screen and (min-width: 769px) and (max-width: 979px){
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    .header-layout{
        position: fixed;
    }

    .logo{
        float: left;
    }
    .header-right{
        float: right;
        margin-top: 20px;
    }
    .profile-image{
        /*width: 30%;*/
        height: auto;
        float: left;
        margin-top: 15px;
        margin-right: 15px;
    }

    .wrapper{
        margin-top: 80px;
    }
    
    .container{
        position: relative;
        float: left;
        margin-top: 40px;
        padding-right: 20px;
    }

    .project-title-background{
        margin-right: 20px;
    }

    footer{
        position: fixed;
        bottom: 0;
    }

}

@media screen and (min-width: 980px){
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}

    .header-layout{
        position: fixed;
    }

    .logo{
        float: left;
    }
    .header-right{
        float: right;
        margin-top: 20px;
    }
    .profile-image{
        /*width: 30%;*/
        height: auto;
        float: left;
        margin-top: 15px;
        margin-right: 15px;
    }

    .wrapper{
        margin-top: 80px;
    }
    
    .container{
        position: relative;
        float: left;
        margin-top: 40px;
        padding-right: 20px;
    }

    .project-title-background{
        margin-right: 20px;
    }

    footer{
        position: fixed;
        bottom: 0;
    }


}

